.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  width: 30%;
}

.button {
  padding: 20px 28px;
  width: 100%;
  height: 100%;
  border: 2px solid #148dffa2;
  border-radius: 9px;
  background-color: transparent;
  transition: all 0.4s;

  &:hover {
    border-color: #fff;
    background-color: #fff;
    cursor: pointer;

    .info {
      color: #148dffa2;
    }
  }
}

.info {
  font-size: 17px;
  transition: all 0.4s;

  > span {
    font-size: 18px;
    font-weight: 600;
  }
}
